dev/pug/layout/content.pug
section.offer
	.container
		.offer__inner
			.offer__text
				h1.offer__title Апартаменты бизнес-класса
				img.offer__logo(src='img/neopark.png', alt='')
				a.btn.btn--accent(href='#' data-toggle='modal', data-target='.callback') Заказать просмотр
section.section.location
	.container
		.section__inner.section__inner--location
			.section__header
				h2.section__title Местоположение
				.section__subtitle Удобное для всей семьи
			.location__desc
				p
					| Комплекс располагается в особенной
					br
					|  части Московского района.
				p
					| Близость к историческому центру,
					br
					| транспортная доступность, большое
					br
					| количество парков, что в комплексе
					br
					| обеспечивает высокое качество жизни.
			.location__right
				.location__advantages
					ul.advantages-loc
						li
							span.advantages-loc__title Звёздная
							span.advantages-loc__desc 15 мин пешком
						li
							span.advantages-loc__title Аэропорт Пулково
							span.advantages-loc__desc 10 мин на машине
						li
							span.advantages-loc__title Исторический центр
							span.advantages-loc__desc 20 мин на машине
				.location__img-wrap
					img.location__img(src='img/location.jpg', alt='')
			.location__form-wrap
				form.form(action='' method="post")
					.form__title Узнать подробнее
					input.form__input(type='text', placeholder='Ваше имя' name="name" required)
					input.form__input(type='tel', placeholder='Ваш телефон'  name="phone" required)
					input(type="hidden" value="Узнать подробнее" name="forms_name") 
					button.btn.btn--ghost.btn--bronze Заказать звонок
section.section.advantages
	.container
		.section__inner.section__inner--advantages
			.section__header
				h2.section__title Дом твоей мечты
				.section__subtitle Продуманный до мелочей
	.advantages__content
		.container
			.advantages__cards
				.advantage-card.advantage-card--water
					h3.advantage-card__title
						| Вода
					.advantage-card__desc
						| Многоступенчатая система
						br
						| 							очистки водопроводной воды
				.advantage-card.advantage-card--parking
					h3.advantage-card__title
						| Паркинг
					.advantage-card__desc
						| Подземный паркинг и наземная
						br
						| 							парковка с зарядным устройством
				.advantage-card.advantage-card--design
					h3.advantage-card__title
						| Дизайн
					.advantage-card__desc
						| Благоустройство с ландшафтным дизайном
						br
						| 							и тильная подсветка фасадов
				.advantage-card.advantage-card--apartment
					h3.advantage-card__title
						| Апартаменты
					.advantage-card__desc
						| Просторные и светлые апартаменты с
						br
						| 							панорамными окнами высотой ~ 1.95 м
section.section.layout
	.container
		.section__inner.section__inner--layout
			.section__header
				h2.section__title Варианты планировок
				.section__subtitle Вашего будущего дома
			#tabs.tabs
				.tabs__links
					.tab.active Студии
					.tab 2-комнатные
					.tab 3-комнатные
				.tabContent
					.slider-project
						.item
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-1.jpg', data-fancybox='', data-caption='Евродвушка - от 40 м2')
										img.layout-card__img(src='img/layout-1.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка
									.layout-card__desc от 40 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка - от 40 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее

							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-2.jpg', data-fancybox='', data-caption='Евродвушка с балконом - от 45 м2')
										img.layout-card__img(src='img/layout-2.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка с балконом
									.layout-card__desc от 45 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка - от 40 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
						.item
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-1.jpg', data-fancybox='', data-caption='Евродвушка - от 40 м2')
										img.layout-card__img(src='img/layout-1.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка
									.layout-card__desc от 40 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка - от 40 м2" name="aparnmeapartmentnt")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-2.jpg', data-fancybox='', data-caption='Евродвушка с балконом - от 45 м2')
										img.layout-card__img(src='img/layout-2.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка с балконом
									.layout-card__desc от 45 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
				.tabContent
					.slider-project
						.item
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-2.jpg', data-fancybox='', data-caption='Евродвушка с балконом - от 45 м2')
										img.layout-card__img(src='img/layout-2.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка с балконом
									.layout-card__desc от 45 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-1.jpg', data-fancybox='', data-caption='Евродвушка - от 40 м2')
										img.layout-card__img(src='img/layout-1.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка
									.layout-card__desc от 40 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка - от 40 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
						.item
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-1.jpg', data-fancybox='', data-caption='Евродвушка - от 40 м2')
										img.layout-card__img(src='img/layout-1.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка
									.layout-card__desc от 40 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка - от 40 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-2.jpg', data-fancybox='', data-caption='Евродвушка с балконом - от 45 м2')
										img.layout-card__img(src='img/layout-2.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка с балконом
									.layout-card__desc от 45 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
				.tabContent
					.slider-project
						.item
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-1.jpg', data-fancybox='', data-caption='Евродвушка - от 40 м2')
										img.layout-card__img(src='img/layout-1.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка
									.layout-card__desc от 40 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка - от 40 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-2.jpg', data-fancybox='', data-caption='Евродвушка с балконом - от 45 м2')
										img.layout-card__img(src='img/layout-2.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка с балконом
									.layout-card__desc от 45 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
						.item
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-1.jpg', data-fancybox='', data-caption='Евродвушка - от 40 м2')
										img.layout-card__img(src='img/layout-1.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка
									.layout-card__desc от 40 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка - от 40 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
							.layout-card
								.layout-card__img-wrap
									a(href='img/layout-2.jpg', data-fancybox='', data-caption='Евродвушка с балконом - от 45 м2')
										img.layout-card__img(src='img/layout-2.jpg', alt='')
								.layout-card__text
									h3.layout-card__title Евродвушка с балконом
									.layout-card__desc от 45 м2
								.layout-card__form-wrap
									form.layout-card__form(action='' method="post")
										input.layout-card__form-input(type='tel', placeholder='Введите номер' name="phone" required)
										input(type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment")
										input(type="hidden" value="apartment" name="form_name")
										button.layout-card__form-btn.btn.btn--accent Узнать подробнее
section.section.presentation
	.container
		.section__inner.section__inner--presentation
			.action-block.action-block--presentation
				h2.action-block__title
					| Скачайте презентацию
					br
					| жилого комплекса
				.action-block__desc
					| Планировки и цены на квартиры в нашем PDF-буклете
					br
					| жилого комплекса NEOPARK
				a.btn.btn--accent(href='files/buklet_s_planirovkami_neopark.pdf', target='_blank' ,download)
					| Скачать буклет прямо сейчас
				.action-block__text
					| Скачать в 1 клик
section.section.conditions
	.container
		.section__inner.section__inner--conditions
			.section__header
				h2.section__title Условия покупки
				.section__subtitle Выберите вариант
			.conditions__content
				.conditions__item
					h3.conditions__item-title
						| 100% оплата
					.conditions__item-desc
						| Рассрочка до сдачи объекта
						br
						| в эксплуатацию
					a.conditions__item-link(href='#')
						| Узнать подробнее
				.conditions__item
					h3.conditions__item-title
						| Первый взнос от 10%
					.conditions__item-desc
						| Низкая стоимость, простое
						br
						| оформление документов
					a.conditions__item-link(href='#')
						| Узнать подробнее
				.conditions__item
					h3.conditions__item-title
						| Ипотека
					.conditions__item-desc
						| Более 20 банков, свой
						br
						| ипотечный отдел
					a.conditions__item-link(href='#')
						| Узнать подробнее
section.section.view
	.container
		.section__inner.section__inner--view
			.section__header
				h2.section__title Дом у парка
				.section__subtitle Вид из вашего окна
			.view__content
				.view__marker
					span
					| Живописный Пулковский парк
section.section.photogallery
	.container
		.section__inner.section__inner--photogallery
			.section__header
				h2.section__title
					| Галерея Neo
					span park
				.section__subtitle Вдохновитесь фотографиями
			.gallery-slider
				.item
					img(src="img/slide-1.jpg", alt="#")
				.item
					img(src="img/slide-2.jpg", alt="#")
				.item
					img(src="img/slide-3.jpg", alt="#")
				.item
					img(src="img/slide-1.jpg", alt="#")
				.item
					img(src="img/slide-2.jpg", alt="#")
section.section.action-1
	.container
		.section__inner.section__inner--action-1
			.action-block.action-block--action-1
				h2.action-block__title
					| Запишитесь на бесплатную
					br
					| 						экскурсию
				.action-block__desc
					| Оставьте заявку и мы организуем для вас экскурсию
					br
					| 						по проекту в сопровождении профессионального
					br
					| 						консультанта
				.action-1__form-wrap
					form.form(action='' method="post")
						.form__title Узнать подробнее
						input.form__input(type='text', placeholder='Ваше имя' name="name" required)
						input.form__input(type='tel', placeholder='Ваш телефон' name="phone" required)
						input(type="hidden" value="Узнать подробнее 2" name="forms_name")
						button.btn.btn--ghost.btn--bronze Заказать звонок
section.section.acton-2
	.container
		.section__inner.section__inner--action-2
			.section__header
				h2.section__title Дизайн квартир
				.section__subtitle
					| В жилом комплексе
					span neo
					| park
			.acton-2__content
				.acton-2__block
					h3.acton-2__title
						| Хотите посмотреть?
					form.acton-2__form(action='' method="post")
						input.acton-2__input(type='text', placeholder='Введите имя' name="name" required)
						input.acton-2__input(type='tel', placeholder='Введите телефон' name="phone" required)
						input.acton-2__input(type='email', placeholder='Введите email' name="email" required)
						input(type="hidden" value="Дизайн квартир" name="forms_name")
						button.btn.btn--accent.btn--full.acton-2__btn Записаться на просмотр
						.acton-2__text Ваши данные защищены
	img.acton-2__lamp-1(src='img/lamp-1.png', alt='')
	img.acton-2__lamp-2(src='img/lamp-2.png', alt='')
	img.acton-2__sofa(src='img/sofa.jpg', alt='')
section.section.acton-3
	.container
		.section__inner.section__inner--action-3
			.action-block.action-block--action-3
				h2.action-block__title
					| Пройдите тест
					br
					| и получите  расчет по ипотеке
				.action-block__desc
					| 5 еффективных вопросов, которые помогут выбрать
					br
					| подходящую ипотечную программу
				a.btn.btn--accent.action-3__btn(href='#') Начать тест
section.section.map
	.container
		.section__inner.section__inner--map.clearfix
			.map__block
				ul.map__nav
					li.map__item.map__item--neo ЖК
						strong NEO
						| PARK
					li.map__item.map__item--clinic Клиника Звездная
					li.map__item.map__item--torg Торговый Двор
					li.map__item.map__item--shop Магазин Перекрёсток
					li.map__item.map__item--school Школа
					li.map__item.map__item--child Детский сад
					li.map__item.map__item--bat Батутный комплекс
					li.map__item.map__item--luk Лукойл
			img.map__neo-loc(src='img/ico-circle.png', alt='')

dev/layout/content.html

<section class="offer">
  <div class="container">
    <div class="offer__inner">
      <div class="offer__text">
        <h1 class="offer__title">Апартаменты бизнес-класса</h1><img class="offer__logo" src="img/neopark.png" alt=""/><a class="btn btn--accent" href="#" data-toggle="modal" data-target=".callback">Заказать просмотр</a>
      </div>
    </div>
  </div>
</section>
<section class="section location">
  <div class="container">
    <div class="section__inner section__inner--location">
      <div class="section__header">
        <h2 class="section__title">Местоположение</h2>
        <div class="section__subtitle">Удобное для всей семьи</div>
      </div>
      <div class="location__desc">
        <p>Комплекс располагается в особенной<br/> части Московского района.</p>
        <p>Близость к историческому центру,<br/>транспортная доступность, большое<br/>количество парков, что в комплексе<br/>обеспечивает высокое качество жизни.</p>
      </div>
      <div class="location__right">
        <div class="location__advantages">
          <ul class="advantages-loc">
            <li><span class="advantages-loc__title">Звёздная</span><span class="advantages-loc__desc">15 мин пешком</span></li>
            <li><span class="advantages-loc__title">Аэропорт Пулково</span><span class="advantages-loc__desc">10 мин на машине</span></li>
            <li><span class="advantages-loc__title">Исторический центр</span><span class="advantages-loc__desc">20 мин на машине</span></li>
          </ul>
        </div>
        <div class="location__img-wrap"><img class="location__img" src="img/location.jpg" alt=""/></div>
      </div>
      <div class="location__form-wrap">
        <form class="form" action="" method="post">
          <div class="form__title">Узнать подробнее</div>
          <input class="form__input" type="text" placeholder="Ваше имя" name="name" required="required"/>
          <input class="form__input" type="tel" placeholder="Ваш телефон" name="phone" required="required"/>
          <input type="hidden" value="Узнать подробнее" name="forms_name"/>
          <button class="btn btn--ghost btn--bronze">Заказать звонок</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="section advantages">
  <div class="container">
    <div class="section__inner section__inner--advantages">
      <div class="section__header">
        <h2 class="section__title">Дом твоей мечты</h2>
        <div class="section__subtitle">Продуманный до мелочей</div>
      </div>
    </div>
  </div>
  <div class="advantages__content">
    <div class="container">
      <div class="advantages__cards">
        <div class="advantage-card advantage-card--water">
          <h3 class="advantage-card__title">Вода</h3>
          <div class="advantage-card__desc">Многоступенчатая система<br/>							очистки водопроводной воды</div>
        </div>
        <div class="advantage-card advantage-card--parking">
          <h3 class="advantage-card__title">Паркинг</h3>
          <div class="advantage-card__desc">Подземный паркинг и наземная<br/>							парковка с зарядным устройством</div>
        </div>
        <div class="advantage-card advantage-card--design">
          <h3 class="advantage-card__title">Дизайн</h3>
          <div class="advantage-card__desc">Благоустройство с ландшафтным дизайном<br/>							и тильная подсветка фасадов</div>
        </div>
        <div class="advantage-card advantage-card--apartment">
          <h3 class="advantage-card__title">Апартаменты</h3>
          <div class="advantage-card__desc">Просторные и светлые апартаменты с<br/>							панорамными окнами высотой ~ 1.95 м</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section layout">
  <div class="container">
    <div class="section__inner section__inner--layout">
      <div class="section__header">
        <h2 class="section__title">Варианты планировок</h2>
        <div class="section__subtitle">Вашего будущего дома</div>
      </div>
      <div class="tabs" id="tabs">
        <div class="tabs__links">
          <div class="tab active">Студии</div>
          <div class="tab">2-комнатные</div>
          <div class="tab">3-комнатные</div>
        </div>
        <div class="tabContent">
          <div class="slider-project">
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="aparnmeapartmentnt"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabContent">
          <div class="slider-project">
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tabContent">
          <div class="slider-project">
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-1.jpg" data-fancybox="" data-caption="Евродвушка - от 40 м2"><img class="layout-card__img" src="img/layout-1.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка</h3>
                  <div class="layout-card__desc">от 40 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка - от 40 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
              <div class="layout-card">
                <div class="layout-card__img-wrap"><a href="img/layout-2.jpg" data-fancybox="" data-caption="Евродвушка с балконом - от 45 м2"><img class="layout-card__img" src="img/layout-2.jpg" alt=""/></a></div>
                <div class="layout-card__text">
                  <h3 class="layout-card__title">Евродвушка с балконом</h3>
                  <div class="layout-card__desc">от 45 м2</div>
                </div>
                <div class="layout-card__form-wrap">
                  <form class="layout-card__form" action="" method="post">
                    <input class="layout-card__form-input" type="tel" placeholder="Введите номер" name="phone" required="required"/>
                    <input type="hidden" value="Евродвушка с балконом - от 45 м2" name="apartment"/>
                    <input type="hidden" value="apartment" name="form_name"/>
                    <button class="layout-card__form-btn btn btn--accent">Узнать подробнее</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section presentation">
  <div class="container">
    <div class="section__inner section__inner--presentation">
      <div class="action-block action-block--presentation">
        <h2 class="action-block__title">Скачайте презентацию<br/>жилого комплекса</h2>
        <div class="action-block__desc">Планировки и цены на квартиры в нашем PDF-буклете<br/>жилого комплекса NEOPARK</div><a class="btn btn--accent" href="files/buklet_s_planirovkami_neopark.pdf" target="_blank" download="download">Скачать буклет прямо сейчас</a>
        <div class="action-block__text">Скачать в 1 клик</div>
      </div>
    </div>
  </div>
</section>
<section class="section conditions">
  <div class="container">
    <div class="section__inner section__inner--conditions">
      <div class="section__header">
        <h2 class="section__title">Условия покупки</h2>
        <div class="section__subtitle">Выберите вариант</div>
      </div>
      <div class="conditions__content">
        <div class="conditions__item">
          <h3 class="conditions__item-title">100% оплата</h3>
          <div class="conditions__item-desc">Рассрочка до сдачи объекта<br/>в эксплуатацию</div><a class="conditions__item-link" href="#">Узнать подробнее</a>
        </div>
        <div class="conditions__item">
          <h3 class="conditions__item-title">Первый взнос от 10%</h3>
          <div class="conditions__item-desc">Низкая стоимость, простое<br/>оформление документов</div><a class="conditions__item-link" href="#">Узнать подробнее</a>
        </div>
        <div class="conditions__item">
          <h3 class="conditions__item-title">Ипотека</h3>
          <div class="conditions__item-desc">Более 20 банков, свой<br/>ипотечный отдел</div><a class="conditions__item-link" href="#">Узнать подробнее</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section view">
  <div class="container">
    <div class="section__inner section__inner--view">
      <div class="section__header">
        <h2 class="section__title">Дом у парка</h2>
        <div class="section__subtitle">Вид из вашего окна</div>
      </div>
      <div class="view__content">
        <div class="view__marker"><span></span>Живописный Пулковский парк</div>
      </div>
    </div>
  </div>
</section>
<section class="section photogallery">
  <div class="container">
    <div class="section__inner section__inner--photogallery">
      <div class="section__header">
        <h2 class="section__title">Галерея Neo<span>park</span></h2>
        <div class="section__subtitle">Вдохновитесь фотографиями</div>
      </div>
      <div class="gallery-slider">
        <div class="item"><img src="img/slide-1.jpg" alt="#"/></div>
        <div class="item"><img src="img/slide-2.jpg" alt="#"/></div>
        <div class="item"><img src="img/slide-3.jpg" alt="#"/></div>
        <div class="item"><img src="img/slide-1.jpg" alt="#"/></div>
        <div class="item"><img src="img/slide-2.jpg" alt="#"/></div>
      </div>
    </div>
  </div>
</section>
<section class="section action-1">
  <div class="container">
    <div class="section__inner section__inner--action-1">
      <div class="action-block action-block--action-1">
        <h2 class="action-block__title">Запишитесь на бесплатную<br/>						экскурсию</h2>
        <div class="action-block__desc">Оставьте заявку и мы организуем для вас экскурсию<br/>						по проекту в сопровождении профессионального<br/>						консультанта</div>
        <div class="action-1__form-wrap">
          <form class="form" action="" method="post">
            <div class="form__title">Узнать подробнее</div>
            <input class="form__input" type="text" placeholder="Ваше имя" name="name" required="required"/>
            <input class="form__input" type="tel" placeholder="Ваш телефон" name="phone" required="required"/>
            <input type="hidden" value="Узнать подробнее 2" name="forms_name"/>
            <button class="btn btn--ghost btn--bronze">Заказать звонок</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section acton-2">
  <div class="container">
    <div class="section__inner section__inner--action-2">
      <div class="section__header">
        <h2 class="section__title">Дизайн квартир</h2>
        <div class="section__subtitle">В жилом комплексе<span>neo</span>park</div>
      </div>
      <div class="acton-2__content">
        <div class="acton-2__block">
          <h3 class="acton-2__title">Хотите посмотреть?</h3>
          <form class="acton-2__form" action="" method="post">
            <input class="acton-2__input" type="text" placeholder="Введите имя" name="name" required="required"/>
            <input class="acton-2__input" type="tel" placeholder="Введите телефон" name="phone" required="required"/>
            <input class="acton-2__input" type="email" placeholder="Введите email" name="email" required="required"/>
            <input type="hidden" value="Дизайн квартир" name="forms_name"/>
            <button class="btn btn--accent btn--full acton-2__btn">Записаться на просмотр</button>
            <div class="acton-2__text">Ваши данные защищены</div>
          </form>
        </div>
      </div>
    </div>
  </div><img class="acton-2__lamp-1" src="img/lamp-1.png" alt=""/><img class="acton-2__lamp-2" src="img/lamp-2.png" alt=""/><img class="acton-2__sofa" src="img/sofa.jpg" alt=""/>
</section>
<section class="section acton-3">
  <div class="container">
    <div class="section__inner section__inner--action-3">
      <div class="action-block action-block--action-3">
        <h2 class="action-block__title">Пройдите тест<br/>и получите  расчет по ипотеке</h2>
        <div class="action-block__desc">5 еффективных вопросов, которые помогут выбрать<br/>подходящую ипотечную программу</div><a class="btn btn--accent action-3__btn" href="#">Начать тест</a>
      </div>
    </div>
  </div>
</section>
<section class="section map">
  <div class="container">
    <div class="section__inner section__inner--map clearfix">
      <div class="map__block">
        <ul class="map__nav">
          <li class="map__item map__item--neo">ЖК<strong>NEO</strong>PARK</li>
          <li class="map__item map__item--clinic">Клиника Звездная</li>
          <li class="map__item map__item--torg">Торговый Двор</li>
          <li class="map__item map__item--shop">Магазин Перекрёсток</li>
          <li class="map__item map__item--school">Школа</li>
          <li class="map__item map__item--child">Детский сад</li>
          <li class="map__item map__item--bat">Батутный комплекс</li>
          <li class="map__item map__item--luk">Лукойл</li>
        </ul>
      </div><img class="map__neo-loc" src="img/ico-circle.png" alt=""/>
    </div>
  </div>
</section>
