dev/pug/layout/footer.pug
footer.footer
	.container
		.footer__inner
			.footer__left
				a.logo.logo--infooter(href='index.html')
					img.logo__img(src='img/logo.png', alt='')
				p
					| Информация взята из открытых источников, не является публичной офертой и распространяется для ознакомления
			.footer__right
				a.btn.btn--ghost(href='#' data-toggle='modal', data-target='.callback') Заказать звонок
				.phone.phone--infooter +7 (812) 303 66 51
.pop-up
	a.close(href="#") &times;
	.left-block
		img(src="img/key.svg", alt="#")
	.right-block
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laborum assumenda provident magnam consequatur nihil.
.modal.fade.callback(role='dialog')
	.modal-dialog.modal-sm
		.modal-content
			h2 Заполните форму
			form.form(action='' method="post")
				input.form__input(type='text', placeholder='Ваше имя' name="name" required)
				input.form__input(type='tel', placeholder='Ваш телефон' name="phone" required)
				input(type="hidden" value="pop_up" name="forms_name")
				button.btn.btn--accent Заказать звонок
				.acton-2__text Ваши данные защищены

dev/layout/footer.html

<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left"><a class="logo logo--infooter" href="index.html"><img class="logo__img" src="img/logo.png" alt=""/></a>
        <p>Информация взята из открытых источников, не является публичной офертой и распространяется для ознакомления</p>
      </div>
      <div class="footer__right"><a class="btn btn--ghost" href="#" data-toggle="modal" data-target=".callback">Заказать звонок</a>
        <div class="phone phone--infooter">+7 (812) 303 66 51</div>
      </div>
    </div>
  </div>
</footer>
<div class="pop-up"><a class="close" href="#">&times;</a>
  <div class="left-block"><img src="img/key.svg" alt="#"/></div>
  <div class="right-block">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laborum assumenda provident magnam consequatur nihil.</p>
  </div>
</div>
<div class="modal fade callback" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h2>Заполните форму</h2>
      <form class="form" action="" method="post">
        <input class="form__input" type="text" placeholder="Ваше имя" name="name" required="required"/>
        <input class="form__input" type="tel" placeholder="Ваш телефон" name="phone" required="required"/>
        <input type="hidden" value="pop_up" name="forms_name"/>
        <button class="btn btn--accent">Заказать звонок</button>
        <div class="acton-2__text">Ваши данные защищены</div>
      </form>
    </div>
  </div>
</div>
