dev/pug/layout/header.pug
header.header
	.container
		.header__inner
			.header__left
				a.logo(href='index.html')
					img.logo__img(src='img/logo.png', alt='')
			.header__center
				ul.header__nav
					li
						a(href='#') Главная
					li
						a(href='#') Расположение
					li
						a(href='#') Инфраструктура
					li
						a(href='#') Планировка и цены
					li
						a(href='#') Оплата
			.header__right
				a.btn.btn--ghost(href='#' data-toggle='modal', data-target='.callback') Заказать звонок
				.phone +7 (812) 303 66 51
			a.mob_menu_link(href='#')
				span
				span
				span

dev/layout/header.html

<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__left"><a class="logo" href="index.html"><img class="logo__img" src="img/logo.png" alt=""/></a></div>
      <div class="header__center">
        <ul class="header__nav">
          <li><a href="#">Главная</a></li>
          <li><a href="#">Расположение</a></li>
          <li><a href="#">Инфраструктура</a></li>
          <li><a href="#">Планировка и цены</a></li>
          <li><a href="#">Оплата</a></li>
        </ul>
      </div>
      <div class="header__right"><a class="btn btn--ghost" href="#" data-toggle="modal" data-target=".callback">Заказать звонок</a>
        <div class="phone">+7 (812) 303 66 51</div>
      </div><a class="mob_menu_link" href="#"><span></span><span></span><span></span></a>
    </div>
  </div>
</header>
